<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div class="ion-padding input-form">
      <ion-list>
        <ion-row>
          <ion-col size-xs="12" size-sm="6" size-md="12" size-lg="6">
            <ion-label>Nome</ion-label>
            <ion-item>
              <ion-input type="text" name="nome"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
            <ion-label>Email</ion-label>
            <ion-item>
              <ion-input type="text" name="email"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
            <ion-label>Senha</ion-label>
            <ion-item>
              <ion-input type="text" name="senha"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-button type="submit" disabled="true">Registrar</ion-button>
      </ion-list>
    </div>    
  </form>
</ion-content>